html {
    font-size: 62.5%;
}

body{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: $m-size;
   
}
button{
    cursor: pointer;
}

button:disabled{
    cursor: default;
}
.on-active {
    font-weight: bold;
   
}